.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: hsl(var(--primary));
}

.App-link:hover {
  opacity: 0.8;
}